/* Place your extensions here to make migration to a new release easier. */

.SeparatorFull {
  border-bottom: dashed 1px #d1d3d4;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 1.2rem -1.5rem;
  clear: both;
}

.isInvalid {
  border-color: #db0029 !important;
}

.Jfv_FieldError {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #db0029;
}

/*This is to make data table responsive*/
.p-datatable .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

@media screen and (max-width: 40em) {
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tfoot > tr > td {
    display: none !important;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
  }

 .p-datatable .p-datatable-tbody > tr > td .p-column-title {
    padding: .4rem;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4rem;
    font-weight: bold;
  }

  .p-datatable .p-datatable-tbody > tr > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
}