/* Place your extensions here to make migration to a new release easier. */

.SeparatorFull {
  border-bottom: dashed 1px #d1d3d4;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 1.2rem -1.5rem;
  clear: both;
}

.isInvalid {
  border-color: #db0029 !important;
}

.Jfv_FieldError {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #db0029;
}
